body{
    margin: 0;
    font-family: Arial;
    background-color: #121212;
    color: white;
}

/* CONTAINER (DESAFIO 4) */
.container{
    width: 90%;
    margin: auto;
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    border-radius: 15px;
    overflow: hidden;
}

/* SIDEBAR */
.sidebar{
    width: 230px;
    background-color: #000;
    padding: 20px;
}

.sidebar h1{
    color: #1DB954;
}

.sidebar a{
    display: block;
    color: #b3b3b3;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s;
}

.sidebar a:hover{
    color: white;
    transform: translateX(5px);
}

/* MAIN */
.main{
    flex: 1;
    padding: 20px;
}

/* GRID */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARD (DESAFIO 5) */
.card{
    background-color: #181818;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    background-color: #282828;
}

/* DESCRIÇÃO */
.descricao{
    font-size: 12px;
    color: #b3b3b3;
    margin: 5px 0 10px 0;
}

/* MÍDIA (hover leve) */
audio, video{
    width: 100%;
    margin-top: 10px;
    transition: 0.3s;
}

audio:hover, video:hover{
    transform: scale(1.02);
}

/* PLAYER FIXO */
.player{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #333;
}
.card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}
.footer{
    text-align: center;
    padding: 15px;
    background-color: #000;
    color: #b3b3b3;
    font-size: 14px;
    border-top: 1px solid #333;
}
